button{
    cursor: pointer;
    border: 1px;
    padding: 5px 10px;
    border-radius: 5px;
}

button:nth-child(1):hover{
    background-color: green;
    color: white;
  }
  button:nth-child(2):hover{
    background-color: red;
    color: white;
  }